* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: lightgray;
}

.main-container {
  display: flex;
  flex-direction: row;
  border: 1px solid white;
  width: 65vw;
  height: 70vh;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  column-gap: 70px;
  max-width: 900px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-image: url("assets/images/bg-sidebar-desktop.svg");
  width: 33%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  row-gap: 25px;
  border-radius: 10px;
}

.your-info {
  display: flex;
  flex-direction: row;
  color: white;
  column-gap: 15px;
  font-size: 0.8rem;
  margin-left: 12%;
}

.your-info-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info {
  margin-top: 15%;
  font-weight: 550;
  font-size: 0.8rem;
}

.select-plan {
  font-weight: 550;
  font-size: 0.8rem;
}

.add-ons {
  font-weight: 550;
  font-size: 0.8rem;
}

.summary {
  font-weight: 550;
  font-size: 0.8rem;
}

.step {
  opacity: 0.5;
}

.your-info h3 {
  border: 1px solid white;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  padding: 3px;
  text-align: center;
}

.sidebar_background_numbers {
  background-color: hsl(228, 100%, 84%);
}

.step-1 {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.personal-info {
  margin-top: 10%;
  color: hsl(213, 96%, 18%);
}

.name {
  color: hsl(213, 96%, 18%);
  font-size: 0.9rem;
}

.name input {
  width: 100%;
  height: 100%;
}

.name p {
  margin-bottom: 1%;
}

.personalinfo-information {
  margin-top: 2%;
  opacity: 0.5;
}

.next-step {
  width: 27%;
  height: 7%;
  text-align: center;
  margin-left: 72%;
  margin-top: 10%;
  background-color: rgb(3, 41, 90);
  color: rgb(183, 206, 220);
  border-radius: 5px;
}

.step-2 {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  width: 50%;
}

.monthly-plans {
  display: flex;
  flex-direction: row;
  width: 100%;
  column-gap: 20px;
  color: hsl(213, 96%, 18%);
}

.monthly-plans input:checked + label {
  border-color: hsl(243, 100%, 62%);
}

.yearly-plans {
  display: flex;
  flex-direction: row;
  width: 100%;
  column-gap: 20px;
  color: hsl(213, 96%, 18%);
}

.yearly-plans input:checked + label {
  border-color: hsl(243, 100%, 62%);
}

.plans {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: 20vh;
  border: 1px solid wheat;
  border-radius: 10px;
}

.plans img {
  width: 30%;
  margin-left: 5%;
  margin-top: 5%;
}

.monthly_yearly {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 25px;
  color: hsl(213, 96%, 18%);
  font-size: 0.9rem;
  font-weight: 700;
}

.monthly_plans {
  margin: 1%;
}

.yearly_plans {
  opacity: 0.5;
  margin-top: 1%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 23px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(213, 96%, 18%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: hsl(213, 96%, 18%);
}

input:focus + .slider {
  box-shadow: 0 0 1px hsl(213, 96%, 18%);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.two-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.next_step_2 {
  width: 27%;
  height: 60%;
  text-align: center;
  margin-left: 72%;
  margin-top: 10%;
  background-color: rgb(3, 41, 90);
  color: rgb(183, 206, 220);
  border-radius: 5px;
}

.go_back {
  width: 25%;
  height: 60%;
  text-align: center;
  margin-top: 10%;
  opacity: 0.5;
}

.name_price {
  margin-left: 5%;
  margin-bottom: 5%;
}

.price {
  margin-top: 2%;
  opacity: 0.5;
}

input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.step-3 {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  width: 50%;
}

.add_ons {
  display: flex;
  flex-direction: row;
  color: hsl(213, 96%, 18%);
  column-gap: 20px;
  font-weight: 500;
  border: 1px solid wheat;
  height: 7vh;
}

.container {
  display: flex;
  flex-direction: row;
  column-gap: 100px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 3%;
}

#storage {
  margin-left: 4%;
}

#service {
  margin-left: 4%;
}

#customize {
  margin-left: 4%;
}

.format {
  opacity: 0.5;
}
.online_service {
  display: flex;
  flex-direction: column;
}

.next_step_3 {
  width: 27%;
  height: 60%;
  text-align: center;
  margin-left: 72%;
  margin-top: 10%;
  background-color: rgb(3, 41, 90);
  color: rgb(183, 206, 220);
  border-radius: 5px;
}

.go_back_3 {
  width: 25%;
  height: 60%;
  text-align: center;
  margin-top: 10%;
  opacity: 0.5;
}

.step-4 {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  width: 50%;
}

.billing-details {
  display: flex;
  flex-direction: column;
  background-color: rgb(249, 249, 255);
  border-radius: 10px;
  row-gap: 15px;
  background-color: rgb(248, 248, 255);
}

.plans_monthlyORYearly {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  margin-left: 5%;
}

.addons_monthlyOrYearly {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.add_color {
  color: hsl(213, 96%, 18%);
}

.format_addons {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
}

.total_perYearOrMonth {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  margin-left: 5%;
}
.opaque {
  opacity: 0.5;
}
.blue {
  color: hsl(243, 100%, 62%);
  font-size: 1.2rem;
}
.line-1 {
  height: 1px;
  background: black;
  width: 80%;
  margin-left: 5%;
}

.confirm {
  width: 27%;
  height: 60%;
  text-align: center;
  margin-left: 72%;
  margin-top: 10%;
  background-color: hsl(243, 100%, 62%);
  color: rgb(183, 206, 220);
  border-radius: 5px;
}

.go_back_4 {
  width: 25%;
  height: 60%;
  text-align: center;
  margin-top: 10%;
  opacity: 0.5;
}

.step-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  row-gap: 40px;
}

.step-5 h1 {
  font-size: 2.5rem;
  color: hsl(213, 96%, 18%);
}

.thank-message {
  opacity: 0.5;
  width: 90%;
  font-size: 1.2rem;
  text-align: center;
}

.hide {
  display: none;
}

@media screen and (max-width: 375px) {
  body {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: lightgray;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    padding: 0px;
    border-radius: 0px;
    border: 0px;
    background-color: white;
    align-items: center;
  }

  .sidebar {
    display: flex;
    flex-direction: row;
    background-image: url("assets/images/bg-sidebar-mobile.svg");
    width: 100%;
    height: 20%;
    background-size: contain;
    border-radius: 0px;
    column-gap: 15px;
  }

  .info {
    margin-top: 0%;
  }

  .your-info {
    display: flex;
    flex-direction: row;
    color: white;
    margin-top: 10%;
  }

  .your-info-content {
    display: none;
  }

  .your-info h3 {
    border: 1px solid white;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    padding: 2.5px;
    text-align: center;
    font-weight: 400;
  }

  .step-1 {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    width: 90%;
    border: 1px solid white;
    padding: 10px;
    margin-top: -25%;
    background-color: white;
    border-radius: 10px;
    height: 50%;
  }

  .personal-info {
    margin-top: 0%;
    color: hsl(213, 96%, 18%);
  }

  .name {
    color: hsl(213, 96%, 18%);
    font-size: 0.9rem;
  }

  .name input {
    width: 100%;
    height: 100%;
  }

  .name p {
    margin-bottom: 01%;
  }

  .personalinfo-information {
    margin-top: 1%;
    opacity: 0.5;
  }

  .next-step {
    width: 25%;
    height: 10%;
    text-align: center;
    margin-left: 72%;
    margin-top: 10%;
    background-color: rgb(3, 41, 90);
    color: rgb(183, 206, 220);
    border-radius: 5px;
  }

  .step-2 {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    width: 90%;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: -25%;
    background-color: white;
    padding: 10px;
  }

  .monthly-plans {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 20px;
    color: hsl(213, 96%, 18%);
  }

  .monthly-plans input:checked + label {
    border-color: hsl(243, 100%, 62%);
  }

  .plans {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 8vh;
    border: 1px solid wheat;
    border-radius: 10px;
  }

  .plans_image {
    width: 25%;
    /* margin-top: -5%; */
  }
  .plans img {
    width: 80%;
    height: 40%;
    margin-left: 7%;
    margin-top: 0%;
  }

  .monthly_yearly {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 25px;
    color: hsl(213, 96%, 18%);
    font-size: 0.9rem;
    font-weight: 700;
  }

  .monthly_plans {
    margin: 1%;
  }
  .yearly_plans {
    opacity: 0.5;
    margin-top: 1%;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 23px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(213, 96%, 18%);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: hsl(213, 96%, 18%);
  }

  input:focus + .slider {
    box-shadow: 0 0 1px hsl(213, 96%, 18%);
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .two-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .next_step_2 {
    width: 40%;
    height: 70%;
    text-align: center;
    margin-left: 50%;
    margin-top: 10%;
    background-color: rgb(3, 41, 90);
    color: rgb(183, 206, 220);
    border-radius: 5px;
  }

  .go_back {
    width: 40%;
    height: 70%;
    text-align: center;
    margin-top: 10%;
    opacity: 0.5;
  }

  .name_price {
    margin-left: 5%;
    margin-bottom: 5%;
    font-size: 1rem;
    margin-top: 3%;
  }

  .price {
    margin-top: 2%;
    opacity: 0.5;
  }

  input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }

  .step-3 {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    width: 90%;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: -25%;
    background-color: white;
    padding: 10px;
  }

  .add_ons {
    display: flex;
    flex-direction: row;
    color: hsl(213, 96%, 18%);
    column-gap: 20px;
    font-weight: 500;
    border: 1px solid hsl(213, 96%, 18%);
    height: 7vh;
  }

  .container {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 5%;
  }

  #storage {
    margin-left: 4%;
  }

  #service {
    margin-left: 4%;
  }

  #customize {
    margin-left: 4%;
  }

  .format {
    opacity: 0.5;
  }
  .online_service {
    display: flex;
    flex-direction: column;
  }

  .next_step_3 {
    width: 40%;
    height: 70%;
    text-align: center;
    margin-left: 50%;
    margin-top: 10%;
    background-color: rgb(3, 41, 90);
    color: rgb(183, 206, 220);
    border-radius: 5px;
  }

  .go_back_3 {
    width: 40%;
    height: 70%;
    text-align: center;
    margin-top: 10%;
    opacity: 0.5;
  }

  .step-4 {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    width: 90%;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: -25%;
    background-color: white;
    padding: 10px;
  }

  .confirm {
    width: 40%;
    height: 160%;
    text-align: center;
    margin-left: 50%;
    margin-top: 0%;
    background-color: rgb(3, 41, 90);
    color: rgb(183, 206, 220);
    border-radius: 5px;
  }

  .go_back_4 {
    width: 40%;
    height: 160%;
    text-align: center;
    margin-top: 0%;
    opacity: 0.5;
  }

  .step-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    row-gap: 20px;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: -25%;
    background-color: white;
    padding: 10px;
  }

  .step-5 h1 {
    font-size: 2rem;
    color: hsl(213, 96%, 18%);
  }

  .step-5 img {
    width: 90%;
  }

  .thank-message {
    opacity: 0.5;
    width: 90%;
    font-size: 1rem;
    text-align: center;
  }

  .hide {
    display: none;
  }
}
